/* 内容展示区域 */
.module {
    border-bottom: 1px solid #CCCCCC;
	margin:20px 0 50px 0;
	font:12px/1.5 tahoma,arial,Hiragino Sans GB,"Microsoft Yahei",\5b8b\4f53;
}

.module-head {
    overflow: hidden;
}

.module-head .module-head-title {
    font-size:22px;
	margin-top: 40px;
}

.module-head .module-description {
    font-size: 14px;
    margin: 10px 0 20px;
}

.module-demo {
    padding:20px 130px 20px 20px;
	position:relative;
}

.module-demo .module-subtitle {
    font-size: 12px;
	color:#777;
	display:block;
}

.module-dom {
    display:block;
	position:relative;
}






















#top{
background: -webkit-linear-gradient(top, #f39100, #f17a00);
  background: -moz-linear-gradient(top, #f39100, #f17a00);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#f39100, endColorstr=#f17a00);}





#nav {
    margin:0 auto;
    width:990px;
}

.version {
    float:right;
	height:42px;
	line-height:42px;
	font-size:14px;
	color:#fff;
}

#header {
    height:150px;
	padding-top:42px;
	font-size:36px;
	line-height:150px;
	text-indent:5em;
}

#content {
    margin:20px auto 0;;
    width:990px;
}

h2 {
    font-size:20px;
	margin:10px 0;
}

#main {
    margin:10px 0 0 20px;
}
