/* CSS Document */
#nav {
    background: -webkit-linear-gradient(top, #f39100, #f17a00);
    background: -moz-linear-gradient(top, #f39100, #f17a00);
    height: 42px;
	position:fixed;
	top:0;
	width:100%;
}

.nav {
    margin:0 auto;
    width:990px;
}

.version {
    float:right;
	height:42px;
	line-height:42px;
	font-size:14px;
	color:#fff;
}

#header {
    height:150px;
	border:1px solid #000000;
	padding-top:42px;
	font-size:36px;
	line-height:150px;
	text-indent:5em;
}

#content {
    margin:20px auto 0;;
    width:990px;
}